.id-card {
    text-align: center;
     margin: auto;
    display: flex;
     width: 600px;
    padding: 40px;
    border-radius: 20px;
    background-color: rgba(22, 132, 191, 0.999);
    text-shadow: 3px 3px 3px #3a4647;

}

.avatar {
    border: 2px solid white;
    border-radius: 50px;
    margin: auto;
    margin-right: 20px;
    width: 200px;
    height: 200px;
    text-shadow: 5px 5px 3px #3a4647;
}

body {
    background-color: rgb(175, 175, 174);
    text-align: center;

}

.info {
    font-size: 20px;
    padding: 10px;
    border: 2px solid white;
    margin: auto;
    border-radius: 10px;
}

.info:hover {
    color: rgb(250, 248, 250);
    text-decoration: wavy;
}

h1 {
    text-shadow: 0px 3px 5px #1cbcc1;
}

.btn {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(38, 211, 49);
    transition: background-color 0.4s ease;
}

.btn:hover {
    background-color: violet;

}
